In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(data = {"pr√©nom":["K√©vin"], "nom":["Ferreira"]})

df

  pr√©nom       nom
0  K√©vin  Ferreira

# Read and manipulate data with the pandas library

## What you will learn in this course üßêüßê

In Data Science, one of the libraries to know is Pandas. This library will allow you to manipulate databases very easily. So we're going to learn to:

* Read and write Excel & CSV files via Pandas
* Create databases
* Merging databases
* Manage missing data
* Manage categorical variables

## Using Python libraries ##

### What's a library ?

Now that you have an idea of what object-oriented programming is, using libraries shouldn't seem too complex. Indeed, a library is a module in which there are several classes that you can use at your discretion.

You have probably seen or heard of _pandas, numpy and scikit-learn._ These are three very popular libraries among data scientists, which provide classes that are toolboxes for data manipulation and machine learning.


#### How to import a library ?


```python
import module_name
```


It's as simple as that to import a library. However, by doing this you have imported your entire library at once. Sometimes it is not useful or even counterproductive to do this because it will slow down your code considerably.

As a result, you often decide to import only one class of the module. This is done in the following way:


```python
from module_name import class_name
```


#### How to use a library ?

A library contains classes definitions (with their attributes and methods) that you can use in your own code. To declare an instance of a class from a library, you can proceed as follow :

```python
import library_name
class_instance = library_name.class_name()
```

#### Read the documentation !

One last thing to understand: there are a lot of different libraries and they don't work the same way. You will have to refer to the documentation of the library in question for more information. In the course of the program, we will see a lot of different libraries so that you can become familiar with the concept.

## Data structures in Pandas

We have already seen a number of data types in Python. With Pandas, we are introducing two new data structures that need to be understood in order to move forward.

## Import pandas and discover the classes

Before we begin, let's not forget that for all the operations we show in this course, we have imported the Pandas library as follows. The instruction as allows to create an alias: in the following we will refer to the library with `pd`.

In [ ]:
import pandas as pd

### Series class
A DataFrame that has only one dimension (one column) is a Series.

In [ ]:
# For information on how to use a method, use the "?"
# Class Series : same as a column in Excel/SQL
pd.Series?

#### Create an instance of the Series class and initialize it

In [ ]:
# An instance of the Series class is created and initialized with a list of values.
data1 = pd.Series(data= [1.2, 3.4, 4.7, 6.7], name="values")
print(data1)

#### "index" attribute

In [ ]:
# The series have an index as attribute
print(data1.index)

In [ ]:
# Accessing an item in the series via the index: similar operation to lists
print(data1[2])

#### Iterate on a Series

In [ ]:
# Iterate over the values of a series
print('Directly iterate over the values')
for values in data1:
    print(values)
print()
    
# It's also possible to use the series' index to iterate
print("Same but we use the index :")
for i in data1.index:
    print("index : {}, valeur: {}".format(i, data1[i]))

### The DataFrame class

A DataFrame is a succession of Series. It is a two-dimensional object with rows and columns. One can also think of a DataFrame as an excel sheet.

In [ ]:
# A DataFrame is composed of several columns:
pd.DataFrame?

#### Declare an instance of the DataFrame class and initialize it

In [ ]:
# We create an instance of the DataFrame class and initialize it with the values
data_dict = {
    'name': ['Agnes', 'Sidi', 'Thibault', 'Samia', 'Henry', 'Georges'],
    'age': [28, 37, 43, 33, 29, 57],
    'job': ['web analyst', 'sales director', 'web analyst', 'sales director', 
                   'web analyst', 'developer']
            }

data2 = pd.DataFrame(data_dict)
display(data2)  # Equivalent to print() with HTML rendering

Here, we have buildta DataFrame composed of six lines and three columns _name_, _age_ and _job_. A lot of different operations/transformations can be done on Dataframes, we will describe the main ones later in the course.

#### Attributes "index", "columns", "shape", "values"

In [ ]:
# Like Series, DataFrame has an 'index'  attribute :
print(data2.index)

In [ ]:
# The 'columns' attribute is used to retrieve the list of column names:
print(data2.columns)

In [ ]:
# The shape attribute returns the number of rows and columns as a tuple:
print(data2.shape)

In [ ]:
# The 'values' attribute allows to retrieve the values stored in the DataFrame in numpy.array format:
print(data2.values)

#### View a preview of the DataFrame

In [ ]:
# See an overview of the first 5 lines of the DataFrame
data2.head()

In [ ]:
# See an overview of the last 5 lines of the DataFrame
data2.tail()

#### Select data

In [ ]:
# Select one column
display(data2['name'])
print()

# Select multiple columns
col_list = ['name','job']
display(data2[col_list])
print()

In [ ]:
# Select sub-part of the DataFrame with slices
# Select the first three lines of the DataFrame
print("first three lines of the DataFrame, with every columns:")
display(data2.loc[0:2,:])
print()

# Select first three lines of the 'age' column
print("three first lines of the 'age' column:")
display(data2.loc[0:2,'age'])
print()

# Select the fourth line of 'age' and 'job'
print("fourth line of 'age' and 'job' columns:")
display(data2.loc[3,['age', 'job']])

In [ ]:
# Use iloc to access the columns via their position:
display(data2.iloc[:,2])

# With iloc, we can also use negative clues:
display(data2.iloc[:,-1])

In [ ]:
# Use masks to select rows according to a certain condition:
mask = data2['age'] > 30
display(data2.loc[mask,['age','job']])

## Read a data file
If you are working on J.U.L.I.E. upload this file to your workspace : M02/D01/01-Exercices/src/chipotle.csv

### Read a CSV file

In [ ]:
# Read the file with read_csv()
dataset = pd.read_csv('src/chipotle.csv')
display(dataset.head())

In [ ]:
# There are a lot of arguments that can be passed to read_csv() to improve the reading of the file
pd.read_csv?

In [ ]:
# In our file, the first column contains the index. Let's use the argument "index_col" to specify it
dataset = pd.read_csv('src/chipotle.csv', index_col=0)
dataset.head()


### Read others files types

Pandas can handle other file types than csv. It will simply be enough to use the same logic with the right method. So here is a summary table of the different types of files you can read with Pandas :


<table>
  <tr>
    <td><strong>File type</strong></td>
    <td><strong>Method</strong></td>
  </tr>
  <tr>
    <td>
      <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table">read_csv()</a>
    </td>
  </tr>
  <tr>
    <td><a href="http://www.json.org/">JSON</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader" >read_json()</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-read-html" >read_html()</a>
    </td>
  </tr>
  <tr>
    <td>Local clipboard</td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-clipboard" >read_clipboard()</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a>
    </td>
    <td>
      <a
        href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-excel-reader" >read_excel()</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://support.hdfgroup.org/HDF5/whatishdf5.html" >HDF5 Format</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5" >read_hdf()</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://github.com/wesm/feather">Feather Format</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-feather" >read_feather()</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://parquet.apache.org/">Parquet Format</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-parquet" >read_parquet()</a>
    </td>
  </tr>
  <tr>
    <td><a href="http://msgpack.org/index.html">Msgpack</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-msgpack" >read_msgpack()</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-stata-reader" >read_stata()</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
    <td>
      <a
        href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-sas-reader" >read_sas()</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://docs.python.org/3/library/pickle.html" >Python Pickle Format</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-pickle" >read_pickle()</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-sql" >read_sql()</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-bigquery" >read_gbq()</a>
    </td>
  </tr>
</table>


You should be able to find what you are looking for in all the file types offered.


### Exporting a file

Once you know how to import a file, it is very simple to be able to export because the logic is similar. For example, we will create a variable that we will export in CSV :

In [ ]:
data = pd.DataFrame({"first_name":["Lucien", "Jocelyne", "Brigitte"], "age":[29, 43, 32]})
data.to_csv("data.csv")

Here, we created a DataFrame that we called _data_ and then we exported it in csv in the Download folder of our machine. By the way, we called the file "data.csv" specifying the path at the same time.

In the same way as for the import, you can export in several types of files, here are the main ones :


<table>
  <tr>
    <td><strong>File</strong></td>
    <td><strong>Method</strong></td>
  </tr>
  <tr>
    <td>
      <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv" >to_csv</a>
    </td>
  </tr>
  <tr>
    <td><a href="http://www.json.org/">JSON</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-writer" >to_json</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-html" >to_html</a>
    </td>
  </tr>
  <tr>
    <td>Local clipboard</td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-clipboard" >to_clipboard</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-excel-writer" >to_excel</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://support.hdfgroup.org/HDF5/whatishdf5.html" >HDF5 Format</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5" >to_hdf</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://github.com/wesm/feather">Feather Format</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-feather" >to_feather</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://parquet.apache.org/">Parquet Format</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-parquet" >to_parquet</a>
    </td>
  </tr>
  <tr>
    <td><a href="http://msgpack.org/index.html">Msgpack</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-msgpack" >to_msgpack</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-stata-writer" >to_stata</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://docs.python.org/3/library/pickle.html" >Python Pickle Format</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-pickle" >to_pickle</a>
    </td>
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-sql" >to_sql</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a>
    </td>
    <td>
      <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-bigquery" >to_gbq</a>
    </td>
  </tr>
</table>

## Manipulate datas

In [ ]:
display(data2)

In [ ]:
# Add new column to the DataFrame
data2['gender'] = ['F', 'M', 'M', 'F', 'M', 'M']
display(data2)

In [ ]:
# Add new row at the end of the DataFrame
new_row = {
    'name': 'Jos√©phine',
    'age': 43,
    'job': 'developer',
    'gender': 'F'
          }

data2 = data2.append(new_row, ignore_index=True)

display(data2)

#### Lambda and apply functions

In [ ]:
# Add a column with values that are calculated according to another column: apply/lambda functions

# New column containing the square of the age
data2['age_squared'] = data2['age'].apply(lambda x : x**2)

# New column containing: age if age > 30, 0 otherwise
data2['age_changed'] = data2['age'].apply(lambda x : x if x > 30 else 0)

# New column indicating that the person is NOT a web analyst
data2['not_web_analyst'] = data2['job'].apply(lambda x : x != 'web analyst')

display(data2)

### Change the structure of the database

In [ ]:
data2.groupby?

In [ ]:
# Aggregate lines with groupby:

# Group by 'job' and then calculate the average value of the other columns
display(data2.groupby('job').mean())

# Group by 'job' then calculate the average value of the 'age' column.
display(data2.groupby('job')['age'].mean())

# Group by 'job' then 'gender' and calculate the median value of the other columns.
display(data2.groupby(['job','gender']).median())

In [ ]:
data2.pivot_table?

In [ ]:
# Rearrange rows and columns with pivot_table :

# DataFrame with : 
# - as many rows as there are 'jobs'
# - as many columns as there is gender
# - the values are the average of 'age'
display(data2.pivot_table(index='job', columns='gender', values='age', aggfunc='mean'))

### Combine databases

In [ ]:
# Next, we will manipulate the following databases:
data_sales1 = {
    'sales_id' : ['001','002','003','004'], 
    'people_id' : [1, 4, 2, 1], 
    'product_id' : ['X789', 'X999', 'X789', 'X990']
              }

data_sales2 = {
    'sales_id' : ['005', '006', '007'],
    'people_id' : [0, 3, 2],
    'product_id' : ['X789', 'X999', 'X789'] 
               }

data_products = {
    'product_id' : ['X789', 'X999', 'X990'],
    'product_desc' : ['Apple', 'Banana', 'Orange']
                } 

data_people = {
    'id' : [0, 1, 2, 3, 5],
    'name' : ['Paul','Perrine','Moussa','Michel', 'Anne'],
    'age' : [None, 67, 24, 76, 47]
              }

df_sales1 = pd.DataFrame(data_sales1)
df_sales2 = pd.DataFrame(data_sales2)
df_products = pd.DataFrame(data_products)
df_people = pd.DataFrame(data_people)

display(df_sales1)
display(df_sales2)
display(df_products)
display(df_people)

#### Concatenate lines

In [ ]:
# Concatenate the lines of df_sales2 after df_sales1 :
df_sales = pd.concat([df_sales1,df_sales2], ignore_index=True)
display(df_sales)

#### Make join operations

In [ ]:
# Join columns from sales and product
# Simple case: All product_id in df_sales are present in df_product and vice versa

df_sales_product = df_sales.merge(df_products,on='product_id')
display(df_sales_product)

In [ ]:
# Join columns from people with sales_product
# Warning 1: the columns containing the join id do not have the same name
# Warning 2: the people_id 4 present in df_sales_product does not exist in df_people!
# People_id 5 is in df_people but not in df_sales_product
# We have to make a choice: what to do with the missing ids?

# Inner join: we only keep the ids that are in both tables
df_final1 = df_sales_product.merge(df_people, left_on='people_id', right_on='id', how='inner')

# Outer join: we keep all the ids we find in both tables and fill the missing values in with NaN
df_final2 = df_sales_product.merge(df_people, left_on='people_id', right_on='id', how='outer')

# Left join: we keep all the ids from the left table and fill the mising values with NaN
df_final3 = df_sales_product.merge(df_people, left_on='people_id', right_on='id', how='left')

In [ ]:
display(df_final1)

In [ ]:
display(df_final2)

In [ ]:
display(df_final3)

## Ressources üìöüìö

How to learn Pandas - [https://bit.ly/2CDDc4Z](https://bit.ly/2CDDc4Z)

Missing values - [https://bit.ly/2yK66w2](https://bit.ly/2yK66w2)

Interpolation - [https://bit.ly/2RW2y2u](https://bit.ly/2RW2y2u)

Categorical variables - [https://bit.ly/2CK313e](https://bit.ly/2CK313e)

Dummy variable trap - [https://bit.ly/2ElOEnj](https://bit.ly/2ElOEnj)

Group By - [https://bit.ly/2EpF5DW](https://bit.ly/2EpF5DW)

Handling multiple databases - [https://bit.ly/2PAUkLD](https://bit.ly/2PAUkLD)